{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'new_wings/style.css' %}"/>
</head>
<body>
    <footer class="container mt-5 mb-4 pt-5 sticky-bottom">
    <div class="row">
        <div class="col-6 contact"><h6 >Контакти</h6></div>

    </div>
    <i>Ми відкриті для пропозицій та ідей щодо розвитку Центру в напрямку психологічного розвантаження.</i>
    <div class="row d-flex">

        <div class="col-xl-10 d-flex flex-column justify-content-between mt-3 ">
            {% for contact in contacts %}
            <a href="mailto:{{contact.email}}" class="  text-dark font-weight-bold text-decoration-none ">{{contact.email}}</a>
            {% endfor %}
            {% for contact in contacts%}
            <a href="tell:{{contact.phone}}" class="text-dark font-weight-bold text-decoration-none mt-3">{{contact.phone}}</a>
            {% endfor %}
        </div>

        <div class="col-sm-2 col-sm mt-4  d-flex justify-content-around social " >

            <a href="#" >
               <i class="fab fa-facebook-f text-dark"></i>
            </a>

        </div>
    </div>
</footer>
</body>
</html>